@using Jil
@{
    ViewBag.Title = "Boards - Developer";
}

<h2>Boards</h2>

<pre>
@JSON.Serialize(ViewBag.Boards, new Options(dateFormat: DateTimeFormat.ISO8601, serializationNameFormat: SerializationNameFormat.CamelCase, prettyPrint: true))
</pre>